<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gng25001.suivitdemedicaments">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false"></receiver>

        <activity
            android:name=".associatedtolayouts.NotificationMessage"
            android:parentActivityName=".associatedtolayouts.Menu" />
        <activity android:name=".associatedtolayouts.NewMedicament" />
        <activity android:name=".associatedtolayouts.MedicamentList" />
        <activity android:name=".associatedtolayouts.Settings" />
        <activity android:name=".associatedtolayouts.Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>